/* || GENERAL STYLES*/


html {
    font-size: 62.5%;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-size: 1.6rem;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0 auto;
    background: #14213d;
    color: #f3f3f3;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
    padding: 20px;
}

p {
  margin: auto;
  margin-left: 5px;
}

a {
    color: #cfcfcf; 
    text-decoration: underline;
    text-align: center;
}

a:visited {
    color: #cfcfcf; 
}

ul,
ol {
  margin-left: 25%;
  margin-right: 0%;
}

img {
  width: 50%;
}

/* || BASIC COMBINATORS */

/* One down list, remove the margins */
ul > li > ul {
  /*border-top: 5px solid red;*/
  margin-left: 0%;
  margin-right: 0%;
  list-style: square
}

/* header within an unordered list */
ul > h3 {
  text-align: left;
  padding: 0px;
  margin-right: 48%;
  border-bottom: 2px solid coral;
}
li > h6 {
  text-align: left;
  padding: 0px;
  font-style: italic;
  
}

/* || UTILITIES */

/* Navigation at the bottom of most pages */
.bottomnav {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding-left: 25%;
  padding-right: 25%;
}

/* || ANIMATIONS */

@keyframes hyper {
  0% {
	transform: translate(0);
  }

  20% {
	transform: translate(2px, -2px);
  }

  40% {
	transform: translate(2px, 2px);
  }

  60% {
	transform: translate(-2px, 2px);
  }

  80% {
	transform: translate(-2px, -2px);
  }

  100% {
	transform: translate(0);
  }
}

@keyframes jello {
  0% {
	transform: scale3d(1, 1, 1);
  }

  30% {
	transform: scale3d(1.25, 0.75, 1);
  }

  40% {
	transform: scale3d(0.75, 1.25, 1);
  }

  50% {
	transform: scale3d(1.15, 0.85, 1);
  }

  65% {
	transform: scale3d(0.95, 1.05, 1);
  }

  75% {
	transform: scale3d(1.05, 0.95, 1);
  }

  100% {
	transform: scale3d(1, 1, 1);
  }
}
